.tooltip {
        width: 120px;
        background-color: lightyellow;
        color: black;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        border-color: black;
        border-width: 1px;
        font-size: 10px;
        /* top: -5px;
        left: 105%; */
    
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
}